# IDE
.vscode/*
!.vscode/extensions.json
src/cmake-build-debug/
.vs/*
.cache/
.idea/

# Scripts
rebuild.sh
rebuild.bat
release.sh
release.bat
refresh.sh
run.sh

# Other
build/
test/
todo.md
compile_commands.json
src/CMakeSettings.json