# IDE
.vscode/*
!.vscode/extensions.json
src/cmake-build-debug/
.vs/*
.cache/
.idea/

# Scripts
build.sh
redo.sh
run.sh
build.bat

# Other
build/
test/
todo.md
scripts.md
compile_commands.json
src/CMakeSettings.json

#Emacs
*~