# Normalize all Line Endings
* text=auto

# Windows Batch and Command requires the eline endings to be CRLF
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ps1,[pP][sS]} text eol=crlf
*.{sh,[sS][hH]} text eol=lf
*.{zsh,[zZ][sS][hH]} text eol=cr